      <form action="" class="form">
        <div class="choose-day row">
          <div class="choose-month">
            <label for="">Tháng</label>
            <select name="" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="choose-year">
            <label for="">Năm</label>
            <input
              type="text"
              size="1"
              style="height: 20px"
              pattern="1900-2023"
            />
          </div>
        </div>
        <div class="form-group text-center">
          <label class="choose-title">
            <b>ĐIỀU TRA HOẠT ĐỘNG THƯƠNG MẠI VÀ DỊCH VỤ </b>
          </label>
        </div>
        <div class="form-group row">
          <label class="P-name"><b>Phiếu 2.3/CT-VT-T</b></label>
        </div>
        <div class="form-group text-center tenphieu">
          <label class="text-center">
            <b>PHIẾU THU THẬP THÔNG TIN ĐỐI VỚI CƠ SỞ KINH DOANH CÁ THỂ</b>
          </label>
          <label>
            <b>
              <i>
                (Áp dụng đối với cơ sở kinh doanh cá thể có hoạt động vận tải,
                kho bãi)
              </i>
            </b>
          </label>
        </div>

        <div class="form-group text-center">
          <div class="row"></div>
          <div>
            <label> <b>Tháng ... Năm 202...</b> </label>
          </div>
          <div class="row"></div>
        </div>
        <div class="form-group m-title bg-primary">
          <h5><b>A. THÔNG TIN CHUNG</b></h5>
        </div>
        <div class="form-group">
          

          <div class="row">
            <label class="lb-info">Tỉnh/TP trực thuộc TW: </label>
            <select name="" id="" class="infoma">
              <option value="">--- Chọn Tỉnh/TP ---</option>
            </select>
          </div>
          <div class="row">
            <label class="lb-info"
              >Huyện/quận <i>(thị xã, TP thuộc tỉnh)</i>:
            </label>
            <select name="" id="" class="infoma">
              <option value="">--- Chọn Huyện/quận ---</option>
            </select>
          </div>
          <div class="row">
            <label class="lb-info">Xã/phường/thị trấn: </label>
            <select name="" id="" class="infoma">
              <option value="">--- Chọn Xã/phường/thị trấn ---</option>
            </select>
          </div>
          <div class="row">
            <label class="lb-info">Địa bàn: </label>
            <input type="text" class="infoma" />
          </div>
          <div class="row">
            <label class="lb-info">Mã cơ sở: </label>
            <input type="text" class="infoma" />
          </div>
          <div class="row">
            <label class="lb-info">Tên cơ sở: </label>
            <input type="text" class="infoma" />
          </div>
          <div class="row">
            <label class="lb-info">Mã số thuế</label>

            <input
              type="text"
              id="n0"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="1"
            />
            <input
              type="text"
              id="n1"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="2"
            />
            <input
              type="text"
              id="n2"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="3"
            />
            <input
              type="text"
              id="n3"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="4"
            />
            <input
              type="text"
              id="n4"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="5"
            />
            <input
              type="text"
              id="n5"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="6"
            />
            <input
              type="text"
              id="n6"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="7"
            />
            <input
              type="text"
              id="n7"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="8"
            />
            <input
              type="text"
              id="n8"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="9"
            />
            <input
              type="text"
              id="n9"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="10"
            />

            <input
              type="text"
              id="n10"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="11"
            />
            <input
              type="text"
              id="n11"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="12"
            />
            <input
              type="text"
              id="n12"
              maxlength="1"
              size="1"
              class="text-center MS"
              autocomplete="off"
              data-next="13"
            />
          </div>
          <div class="row">
            <label class="lb-info">Thôn, ấp<i>(số nhà, đường phố)</i>: </label>
            <input type="text" class="infoma" />
          </div>

          <div class="row">
            <label class="lb-info">Số điện thoại: </label>
            <input type="text" class="infoma" />
          </div>
          <div class="row">
            <label class="lb-info">Email: </label>
            <input type="text" class="infoma" />
          </div>
          <div class="loaihinh">
            <label>Loại hình kinh tế</label>

            <div class="checkbox-tt">
              <label> 1.Kinh tế nhà nước</label>
              <label> 2.Kinh tế ngoài nhà nước</label>
              <label> 3.Kinh tế có vốn đầu tư trực tiếp nước ngoài</label>
            </div>
            <div class="checkbox">
              <input type="radio" name="loaihinhkt" value="Kinh tế nhà nước" />
              <input
                type="radio"
                name="loaihinhkt"
                value="Kinh tế ngoài nhà nước"
              />
              <input
                type="radio"
                name="loaihinhkt"
                value="Kinh tế có vốn đầu tư trực tiếp nước ngoài"
              />
            </div>
          </div>
          <div class="nganhKD row">
            <label class="nganh-lb">Ngành hoạt động kinh doanh</label>
            <div class="nganh-ct">
              <div class="row">
                <div class="MNHD row">
                  <input
                    type="text"
                    maxlength="1"
                    size="1"
                    class="text-center MN"
                  />
                  <input
                    type="text"
                    maxlength="1"
                    size="1"
                    class="text-center MN"
                  />
                  <input
                    type="text"
                    maxlength="1"
                    size="1"
                    class="text-center MN"
                  />
                  <input
                    type="text"
                    maxlength="1"
                    size="1"
                    class="text-center MN"
                  />
                  <input
                    type="text"
                    maxlength="1"
                    size="1"
                    class="text-center MN"
                  />
                </div>
                <label for="">Tên ngành HĐKD:</label>
                <input type="text" class="infoma-nganh" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group m-title bg-primary">
          <h5><b>B. KẾT QUẢ HOẠT ĐỘNG KINH DOANH</b></h5>
        </div>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr class="text-center">
              <th>Chi tiết</th>
              <th>Đơn vị tính</th>
              <th>Thực hiện tháng [trước]</th>
              <th>Dự tính [tháng báo cáo]</th>
              <th>CỘNG DỒN TỪ ĐẦU NĂM ĐẾN CUỐI THÁNG BÁO CÁO</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>A</td>
              <td>B</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
            </tr>
            <tr>
              <td>
                1. Ông/bà vui lòng cho biết tổng số tiền thu về (bao gồm cả vốn
                và lãi) của cơ sở trong [tháng trước] và [tháng báo cáo] là bao
                nhiêu?
              </td>
              <td class="text-center">Triệu đồng</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
            </tr>

            <tr>
              <td>
                2. Trong tổng số tiền thu về của cơ sở, số tiền thu về do cung
                cấp dịch vụ [NGÀNH CHỌN MẪU] của [tháng trước] và [tháng báo
                cáo] là bao nhiêu?
              </td>
              <td class="text-center">Triệu đồng</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
            </tr>
            <tr class="text-left">
              <td colspan="5">I. HOẠT ĐỘNG VẬN TẢI HÀNH KHÁCH</td>
            </tr>
            <tr>
              <td>
                3. Cơ sở có bao nhiêu phương tiện đang sử dụng để phục vụ cho
                hoạt động vận tải hành khách trong [tháng trước] và dự tính
                [tháng báo cáo]?
              </td>
              <td class="text-center">Cái</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                4. Tổng số ghế của tất cả các phương tiện trên là bao nhiêu?
              </td>
              <td class="text-center">Ghế</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
            </tr>
            <tr class="text-left">
              <td>5. Cơ sở có vận chuyển hành khách ngoài nước không?</td>
              <td></td>
              <td class="text-center">
                1. Có <input type="radio" name="chose1" id="5" />
              </td>
              <td class="text-center">
                2. Không <input type="radio" name="chose1" id="5-1" />
              </td>
            </tr>
            <tr class="text-left">
              <td>
                6. Số chyến vận chuyển khách trong [tháng trước] và [tháng báo
                cáo] của cơ sở là bao nhiêu?
              </td>
              <td class="text-center">Chuyến</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left changed1">
              <td>
                6.1 Trong đó, số chuyến vận chuyển ngoài nước là bao nhiêu?
                (Hiển thị nếu có câu 5 = 1 "CÓ")
              </td>
              <td class="text-center">Chuyến</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                7. Số khách bình quân/chuyến trong [tháng trước] và [tháng báo
                cáo] là bao nhiêu?
              </td>
              <td class="text-center">Hành khách</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                7.1 Trong đó, số khách bình quân 1 chuyến vận chuyển ngoài nước
                là bao nhiêu?
              </td>
              <td class="text-center">Hành khách</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                8. Số km bình quân 1 chuyến mà các phương tiện có vận chuyển
                khách trong [tháng trước] và [tháng báo cáo] là bao nhiêu?
              </td>
              <td class="text-center">Km</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                8.1 Trong đó, số km bình quân 1 chuyến vận chuyển ngoài nước là
                bao nhiêu?
              </td>
              <td class="text-center">Km</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>9. SỐ LƯỢT HÀNH KHÁCH VẬN CHUYỂN</td>
              <td class="text-center">Hành khách</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="changed1">
              <td>9.1 TRONG ĐÓ, SỐ LƯỢT HÀNH KHÁCH VẬN CHUYỂN NGOÀI NƯỚC</td>
              <td class="text-center">Hành khách</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>10. SỐ LƯỢT HÀNH KHÁCH LUÂN CHUYỂN</td>
              <td class="text-center">Hành khách.Km</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left changed1">
              <td>
                10.1 TRONG ĐÓ, SỐ LƯỢT HÀNH KHÁCH VẬN LUÂN CHUYỂN NGOÀI NƯỚC
                (Hiển thị nếu câu 5=1 "CÓ")
              </td>
              <td class="text-center">Hành khách.Km</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td colspan="5">II. HOẠT ĐỘNG VẬN TẢI HÀNG HÓA</td>
            </tr>
            <tr class="text-left">
              <td>
                11. Cơ sở có bao nhiêu phương tiện đang sử dụng để phục vụ cho
                hoạt dộng vận tải hàng hóa trong [tháng trước] và dự tính [tháng
                báo cáo]?
              </td>
              <td class="text-center">Cái</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                12. Tổng trọng tải của tất cả các phương tiện trên là bao nhiêu?
              </td>
              <td class="text-center">Tấn</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>13. Cơ sở có vận chuyển hàng hóa ngoài nước không?</td>
              <td></td>
              <td class="text-center">
                1. Có <input type="radio" name="chose2" id="13" />
              </td>
              <td class="text-center">
                2. Không <input type="radio" name="chose2" id="13-1" />
              </td>
            </tr>
            <tr class="text-left">
              <td>
                14. Số vận chuyển hàng hóa trong [tháng trước] và [tháng báo
                cáo] của cơ sở là bao nhiêu?
              </td>
              <td class="text-center">Chuyến</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left changed2">
              <td>
                14.1 Trong đó, số chuyến vận chuyển ngoài nước là bao nhiêu?
                (Hiển thị nếu câu 13=1 "CÓ")
              </td>
              <td class="text-center">Chuyến</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                15. Khối lượng hàng hóa bình quân/chuyến trong [tháng trước] và
                [tháng báo cáo] là bao nhiêu?
              </td>
              <td class="text-center">Tấn</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                15.1 Trong đó, Khối lượng hàng hóa bình quân 1 chuyến vận chuyển
                ngoài nước là bao nhiêu?
              </td>
              <td class="text-center">Tấn</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                16. Số km bình quân 1 chuyến mà các phương tiện có vận chuyển
                hàng hóa trong [tháng trước] và [tháng báo cáo] là bao nhiêu?
              </td>
              <td class="text-center">Km</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>
                16.1 Trong đó, số km bình quân 1 chuyến vận chuyển ngoài nước là
                bao nhiêu?
              </td>
              <td class="text-center">Km</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>17. KHỐI LƯỢNG HÀNG HÓA VẬN CHUYỂN</td>
              <td class="text-center">Tấn</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left changed2">
              <td>
                17.1 TRONG ĐÓ, KHỐI LƯỢNG HÀNG HÓA VẬN CHUYỂN NGOÀI NƯỚC (Hiển
                thị nếu câu 13=1 "CÓ")
              </td>
              <td class="text-center">Tấn</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left">
              <td>18. KHỐI LƯỢNG HÀNG HÓA LUÂN CHUYỂN</td>
              <td class="text-center">Tấn.Km</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
            <tr class="text-left changed2">
              <td>
                18.1 TRONG ĐÓ, KHỐI LƯỢNG LUÂN CHUYỂN NGOÀI NƯỚC (Hiển thị nếu
                câu 13=1 "CÓ")
              </td>
              <td class="text-center">Tấn.Km</td>
              <td><input type="text" class="infoma" /></td>
              <td><input type="text" class="infoma" /></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="form-group m-title bg-primary">
          <h5><b>C. CÁC YẾU TỔ ẢNH HƯỞNG ĐẾN HOẠT ĐỘNG KINH DOANH</b></h5>
        </div>
        <div class="form-group">
          <label for=""
            >Yếu tố nào sau đây ảnh hưởng đến hoạt động kinh doanh của đơn vị
            trong tháng ...</label
          >
          <div class="YTAH">
            <div class="YTAH-tt">
              <label for="">1. Nhu cầu thị trường</label>
              <label for="">2. Dịch bệnh</label>
              <label for="">3. Thời tiết</label>
              <label for="">4. Ảnh hưởng mùa vụ</label>
              <label for="">5. Thay đổi nhân sự</label>
              <label for="">6. Thay đổi kĩ thuật/công nghệ/phương tiện</label>
              <label for="">7. Nguồn vốn kinh doanh</label>
              <label for="">8. Thay đổi địa điểm/thị trường kinh doanh</label>
              <label for="">9. Lý do khác: ghi rõ</label>
            </div>
            <div class="YTAH-check">
              <input type="checkbox" name="" value="Nhu cầu thị trường" />
              <input type="checkbox" name="" value="Dịch bệnh" />
              <input type="checkbox" name="" value="Thời tiết" />
              <input type="checkbox" name="" value="Ảnh hưởng mùa vụ" />
              <input type="checkbox" name="" value="Thay đổi nhân sự" />
              <input
                type="checkbox"
                name=""
                value="Thay đổi kĩ thuật/công nghệ/phương tiện"
              />
              <input type="checkbox" name="" value="Nguồn vốn kinh doanh" />
              <input
                type="checkbox"
                name=""
                value="Thay đổi địa điểm/thị trường kinh doanh"
              />
              <input type="checkbox" name="YT9" id="YT9" value="" />
            </div>
          </div>
          <div class="YTAH9">
            <textarea
              class="form-control"
              rows="1"
              id="comment"
              name="comment"
              disabled
            ></textarea>
          </div>
        </div>
        <div class="form-group uname-info">
          <div class="row">
            <label class="uname-lb">Họ tên người trả lời:</label>
            <input type="text" name="" id="" class="infoma" />
          </div>
          <div class="row">
            <label class="uname-lb">Số điện thoại:</label>
            <input type="text" name="" id="" class="infoma" />
          </div>
        </div>
        <div class="group-btn">
          <button class="btn btn-success">Lưu và xuất file PDF</button>
          <button class="btn btn-primary">Lưu</button>
        </div>
      </form>
      <div class="form-QLTT">
        <div class="head-group">
          <div class="title text-center">
            <h5 class="title-first"><b>DANH SÁCH CƠ SỞ</b></h5>
            <label class="title-last"
              ><i>Nhấn vào dòng cơ sở để nhập tin</i></label
            >
          </div>
          <div class="group-radio-btn row">
            <div class="check-form">
              <i class="bi bi-circle-fill" style="color: rgb(0, 160, 255)"></i>
              <label class="text-primary">Đã điều tra</label>
            </div>
            <div class="check-form" style="margin-left: 5px">
              <i class="bi bi-circle-fill" style="color: white"></i>
              <label>Chưa điều tra</label>
            </div>
            <div class="check-form" style="margin-left: 5px">
              <i class="bi bi-circle-fill" style="color: rgb(215, 70, 0)"></i>
              <label class="text">Không điều tra</label>
            </div>
          </div>
        </div>
        <table id="example" class="table table-bordered table-hover">
          <thead>
            <tr class="text-center tab-title">
              <th class="th1">Điều tra</th>
              <th class="th2">Mã ĐB</th>
              <th class="th3">Cơ sở số</th>
              <th class="th4">Tên cơ sở</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>a</td>
              <td>c</td>
              <td>b</td>
              <td>d</td>
            </tr>
          </tbody>
        </table>
      </div>