@{
    ViewData["Title"] = "ĐIỀU TRA - TÍNH GIÁ TRỊ SẢN PHẨM CÁC NGÀNH CHỦ YẾU";
}
<div class="col-lg-8 p-0 mt-4" style="min-height: 545px">
          <div id="slide">
            <div class="item">
              <div class="image">
                <img src="~/assets/image/anh-background-cuc-dep_110341116.jpg" />
              </div>
              <div class="content-tt">
                <div class="left p-3">
                  <h2>Thông báo về việc thu thập thông tin tháng 12 năm 2022</h2>
                  <div class="des">
                    Trong các ngày 15-17/8/2022, Trung tâm Tin học và Thống kê khu vực tổ thu thập thông tin,
                     dữ liệu các cuộc điều tra về các doanh nghiệp và hợp tác xã trong quý IV năm 2022.

                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="image">
                <img src="~/assets/image/1815731dbc5554d46574be4299bd2c58b8a.jpg" />
              </div>
              <div class="content-tt">
                <div class="left p-3">
                  <h2>Thông báo định mức phí điều tra doanh ngiệp năm 2022</h2>
                  <div class="des">
                    keyframes đóng vai trò giống như là một cái mô hình dùng để mô tả định dạng
                     (style) của phần tử tại những thời điểm khác nhau trong quá trình diễn ra hiệu ứng chuyển động.

                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="image">
                <img src="~/assets/image/KTra 2.jpg" />
              </div>
              <div class="content-tt">
                <div class="left p-3">
                  <h2>Thông báo tổng mức phí điều tra dân số 2023</h2>
                  <div class="des">
                    Thuộc tính animation-iteration-count dùng để xác định "số lần lặp lại" một chu kỳ hiệu ứng chuyển động 
                    (tôi thiết lập giá trị infinite có nghĩa là không giới hạn số lần lặp lại)

                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="image">
                <img src="~/assets/image/Bg-ThongKe-New.jpg" />
              </div>
              <div class="content-tt">
                <div class="left p-3">
                  <h2>Điều tra đổi mới sáng tạo năm 2023</h2>
                  <div class="des">
                    Trong các ngày 15-17/8/2022, Trung tâm Tin học và Thống kê khu vực tổ thu thập thông tin,
                     dữ liệu các cuộc điều tra về các doanh nghiệp và hợp tác xã trong quý IV năm 2022.

                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="image">
                <img src="~/assets/image/Bg-ThongKe-New.jpg" />
              </div>
              <div class="content-tt">
                <div class="left p-3">
                  <h2>Tổ chức ra quân điều tra doanh ngiệp 2023</h2>
                  <div class="des">
                    Trong các ngày 15-17/8/2022, Trung tâm Tin học và Thống kê khu vực tổ thu thập thông tin,
                     dữ liệu các cuộc điều tra về các doanh nghiệp và hợp tác xã trong quý IV năm 2022.

                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="image">
                <img src="~/assets/image/Bg-ThongKe-New.jpg" />
              </div>
              <div class="content-tt">
                <div class="left p-3">
                  <h2>Thông báo về việc tổng điều tra, thu thập thông tin quý IV  2022</h2>
                  <div class="des">
                    Trong các ngày 15-17/8/2022, Trung tâm Tin học và Thống kê khu vực tổ thu thập thông tin,
                     dữ liệu các cuộc điều tra về các doanh nghiệp và hợp tác xã trong quý IV năm 2022.

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="directional">
            <button id="prev"><i class="bi bi-caret-left"></i></button>
            <button id="next"><i class="bi bi-caret-right"></i></button>
          </div>
        </div>
        <div class="col-lg-4 pr-0 mt-4 ml-4">
          <div class="thongbao">
            <div
              class="header-thongbao">
              <h3><b>Thông tin mới nhất</b></h3>
            </div>
            <div
              class="content-tb">


              <ul style="list-style: none" class="pl-4">
                <marquee direction="up" scrollamount="4" onmouseover="this.stop()" onmouseout="this.start()">
                <li>
                  <a href="">
                    Thông báo về việc thu thập thông tin tháng 12 năm 2022</a
                  >
                </li>
                <hr>
                <li>
                  <a href="">
                    Thông báo định mức phí điều tra doanh ngiệp năm 2022</a
                  >
                </li>
                <hr>
                <li>
                  <a href="">
                    Thông báo tổng mức phí điều tra dân số 2023</a
                  >
                </li>
                <hr>
                <li>
                  <a href="">
                    Điều tra đổi mới sáng tạo năm 2023</a
                  >
                </li>
                <hr>
                <li>
                  <a href="">
                    Tổ chức ra quân điều tra doanh ngiệp 2023</a
                  >
                </li>
                <hr>
                <li>
                  <a href="">
                    Thông báo về việc tổng điều tra, thu thập thông tin quý IV  2022</a
                  >
                </li>
                <hr>

              </marquee>

              </ul>

            </div>
          </div>
          <div class="thongbao">
            <div class="image">
              <img
                width="355px"
                src="~/assets/image/anh-background-cuc-dep_110341116.jpg"
                alt=""
              />
            </div>
            <div class="content" ackground: #f1f1f1;>
              <div class="content-container m-2">
              <h4 class="mb-0">thông báo mới</h4>
              <p>
                dây là thông báo mới nhất đến từ cục dây là thông báo mới nhất
                đến từ cục dây là thông báo mới nhất đến từ cụcdây là thông báo
                mới nhất đến từ cục
              </p>
            </div>
            </div>
          </div>
</div>
<script>
    setInterval("CallButton()",4000);
    function CallButton()
    {
       document.getElementById("next").click();
    }   
    document.getElementById("next").onclick = function () {
      let lists = document.querySelectorAll(".item");
      document.getElementById("slide").appendChild(lists[0]);
    };
    document.getElementById("prev").onclick = function () {
      let lists = document.querySelectorAll(".item");
      document.getElementById("slide").prepend(lists[lists.length - 1]);
    };
</script>