@model Cosis.Models.Entities.TaiKhoang
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/login.css" />
  </head>
  <body>
    @if (TempData["ThongBaoDN"] != null)
    {
                <script type="text/javascript" charset="utf-8">
                    window.onload = function () {
                        alert("@Html.Raw(@TempData["ThongBaoDN"])");
                };
                </script>
    }
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h5>HỆ THỐNG XỬ LÝ</h5>
        <h3><b>ĐIỀU TRA THÔNG TIN DOANH NGHIỆP</b></h3>
        <div class="fadeIn first"></div>
        <h4>ĐĂNG NHẬP</h4>
        <!-- Login Form -->
        <form method="post" action="/login">
          <input
            style="text-align:left;"
            type="text"
            id="login"
            class="fadeIn second"
            asp-for="@Model.TaiKhoang1"
            placeholder="Tài khoản"
          />
          <input
              style="text-align:left;"
            type="password"
            id="password"
            class="fadeIn third"
            asp-for="@Model.MatKhau"
            
            placeholder="Mật khẩu"
          />
          <input type="submit" class="fadeIn fourth" value="Đăng nhập" />
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter"></div>
      </div>
    </div>
  </body>
</html>
