@model Cosis.Models.Entities.TaiKhoang
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/login.css" />

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/image/z3976797762973_b51498a7a233b1783fd5585aa063faaf.jpg" />
  </head>
  <body>    

    @if (TempData["ThongBaoDN"] != null)
    {
                <script type="text/javascript" charset="utf-8">
                    window.onload = function () {
                        alert("@Html.Raw(@TempData["ThongBaoDN"])");
                };
                </script>
    }
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <div class="fadeIn first"></div>
        <h3>ĐĂNG NHẬP</h3>
        <label style="text-align:center;">Sử dụng thông tin tài khoản đã được cấp</label>
        <!-- Login Form -->
        <form method="post" action="/login" style="margin-top:10px">
          <input
            style="text-align:left;"
            type="text"
            id="login"
            class="fadeIn second"
            asp-for="@Model.TaiKhoang1"
            placeholder="Tài khoản"
          />
          <input
              style="text-align:left;"
            type="password"
            id="password"
            class="fadeIn third"
            asp-for="@Model.MatKhau"
            
            placeholder="Mật khẩu"
          />
          <input type="submit" class="fadeIn fourth" value="Đăng nhập" />
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter"></div>
      </div>
    </div>
  </body>
</html>
