<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="~/assets/bootstrap-4.5.3-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="~/assets/main.css" />
        <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="~/assets/DataTables-1.13.1/datatables.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
<body id="body">
    <!-- Header -->
    <div class="header">
      <div class="text-center text-white bg-dark">
        <p><b>HỆ THỐNG XỬ LÝ</b></p>
        <h1 style="margin: 0"><b>ĐIỀU TRA DOANH NGHIỆP NĂM</b></h1>
      </div>
      <nav
        class="navbar navbar-expand-sm bg-info navbar-dark"
        style="padding: 0"
      >
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="/Home/Index">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/Form1_1/Index"
                >Phiếu 1.1/DN-TM-T</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/Form1_2/Index"
                >Phiếu 1.2/DN-LAD-T</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/Form1_3/Index"
                >Phiếu 1.3/DN-VT-T</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/Form1_4/Index"
                >Phiếu 1.4/DN-DVK-T</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/Form2_1/Index"
                >Phiếu 2.1/CT-TM-T</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/Form2_3/Index"
                >Phiếu 2.3/CT-VT-T</a
              >
            </li>
          </ul>
        </div>
        <div
          class="collapse navbar-collapse"
          id="collapsibleNavbar"
          style="justify-content: flex-end; padding-right: 15px"
        >
          <label for="" class="text-white">Liên hệ 2800725143</label>
        </div>
      </nav>
    </div>

    <div class="container col-lg-12">
            @RenderBody()
    </div>
  <!-- footer -->
    <footer class="footer bg-primary text-center p-2">
      <label for=""
        ><b
          >Phát triển bởi Trung tâm Tin học Thống kê khu vực II. 54A Nơ Trang
          Long, P.14, Bình Thạnh, TP.HCM. ĐT: (028) 35515433 - 33515438</b
        >
      </label>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
   <script src="~/assets/DataTables-1.13.1/datatables.min.js"></script>
  <script type="text/javascript">
    var strMS = "";
    function AddMS(item){
        strMS += item;
    }

    $(".MS").keyup(function() {

        var valueArr = [];
                document.querySelectorAll('.MS').forEach(function(el){
                valueArr.push(el.value);
            });
        strMS = "";
        valueArr.forEach(AddMS)
        $('#MST1').val(strMS);
        if(strMS.length==13){
                /* $.ajax({
                    type: 'POST',
                    url: '/loadMaster',
                    data: "ms=" + strMS,
                    success: function (result) {
                        $('#ThongTinDoanhNghiepGroup').replaceWith(result);

                        if($('#tenPhieu').val()==='1.1'){
                            $.ajax({
                                type: 'POST',
                                url: '/loadTable1-1',
                                data: "ms=" + strMS,
                                success: function (result) {
                                    $('#tab-KQ').replaceWith(result);
                                },
                               error: function (result) {
                               alert('Mã số thuế không tồn tại!');
                             }
                        })
                        }
                    },
                    error: function (result) {
                        alert('Mã số thuế không tồn tại!');
                    }
            }) */
            /* xd add*/
            if ($('label.P-name b').text().includes('2.') == false) {
          $.ajax({
            type: 'POST',
            url: '/loadMaster',
            data: "ms=" + strMS,
            success: function (result) {
              $('#ThongTinDoanhNghiepGroup').replaceWith(result);
              if($('#tenPhieu').val()==='1.1'){
                            $.ajax({
                                type: 'POST',
                                url: '/loadTable1-1',
                                data: "ms=" + strMS,
                                success: function (result) {
                                    $('#tab-KQ').replaceWith(result);
                                },
                               error: function (result) {
                               // alert('Mã số thuế không tồn tại!');
                             }
                        });
                        }else if($('label.P-name b').text().includes('1.4')){
                          $.ajax({
                                type: 'POST',
                                url: '/loaddata_14B',
                                data: "ms=" + strMS,
                                success: function (result) {
                                    $('#table-data1_4').replaceWith(result);
                                },
                               error: function (result) {
                               // alert('Mã số thuế không tồn tại!'); 
                             }
                        });
                        }
            },
            error: function (result) {
              alert('Mã số thuế không tồn tại!');
            }
          });
        } else {
          $.ajax({
            type: 'POST',
            url: '/loadMaster2',
            data: "ms=" + strMS,
            success: function (result) {
              $('#ThongTinDoanhNghiepGroup').replaceWith(result);
              $('#MST1').val(strMS);
              @* var i = 0; *@
              @* $("input.MS").each(function () {
                $(this).val(strMS[i]);
                i++;
              }); *@
              if ($('label.P-name b').text().includes('2.1')) {
                  $.ajax({
                    type: 'POST',
                    url: '/loaddata_21B',
                    data: "ms=" + strMS,
                    success: function (result) {
                        $('#table-data').replaceWith(result);
                    },
                    error: function (result) {
                    }
                  });
                }
            },
            error: function (result) {
              alert('Mã số thuế không tồn tại!');
            }
          });
        }
        /** end */
        }
    });

    $(".MS").keyup(function (e) {
      if (this.value.length === this.maxLength) {
        var next = $(this).data("next");
        if (next === 13) {
        } else {
          var check = document.getElementById("n" + next).value;
          if (check !== "") {
          } else {
            document.getElementById("n" + next).focus();
          }
        }
      }
    });
    $("#YT9").change(function () {
      if (this.checked) {
        document.getElementById("comment").disabled = false;
      } else {
        document.getElementById("comment").disabled = true;
        document.getElementById("comment").value = "";
      }
    });
    /* xd add */
    $('input[id*="3_"').click(function () {
        var idInput = $(this).attr('id');
        var y = idInput.substring(2, idInput.length);
        $('.changed3_' + y).show(this.checked);
        $('input#inputText' + y).val('Cơ sở bán [NGÀNH CHỌN MẪU] tại đâu?Bán tại siêu thị mini, cửa hàng tiện ích và các địa điểm khác');
    });
    $('input[id*="3-1_"').click(function () {
        var idInput = $(this).attr('id');
        var y = idInput.substring(4, idInput.length);
        $('.changed3_' + y).hide(this.check);
        $('input#inputText' + y).val('Cơ sở bán [NGÀNH CHỌN MẪU] tại đâu?Bán tại siêu thị mini, cửa hàng tiện ích');
    });
    $('input[id*="3-2_"').click(function () {
        var idInput = $(this).attr('id');
        var y = idInput.substring(4, idInput.length);
        $('.changed3_' + y).hide(this.check);
        $('input#inputText' + y).val('Cơ sở bán [NGÀNH CHỌN MẪU] tại đâu?Bán tại các địa điểm khác');
    });
    /* end */
    $("#5").click(function () {
      $(".changed1").toggle(this.checked);
    });
    $("#5-1").click(function () {
      $(".changed1").toggle(this.check);
    });
    $("#13").click(function () {
      $(".changed2").toggle(this.checked);
    });
    $("#13-1").click(function () {
      $(".changed2").toggle(this.check);
    });

        $(document).ready(function () {
      $.fn.DataTable.ext.pager.numbers_length = 5;
      $("#example").dataTable({
        pagingType: "simple_numbers",
        bLengthChange: false,
        bInfo: false,
        ordering: false,
        pageLength: 9,
        language: {
          paginate: {
            previous: "<<",
            next: ">>",
          },
          searchPlaceholder: "Nhập cơ sở cần tìm",
          search: "Tìm kiếm",
        },
      });
    });
  </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
